:host {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: var(--background-color);
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
}

div.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

div.login-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  background-color: var(--primary-color);
  padding: 2rem 4rem;
  border: 2px solid #ccc;
  border-radius: 20px;
 }

form.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
}

input {
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
}

#login-button, #continue-btn {
  padding: 0.5rem 1.5rem;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--button-text-color);
}

#google-signin-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

#google-signin-button .google-logo {
  position: absolute;
  left: 1rem; 
  display: flex;
  align-items: center;
  height: 100%;
}

#google-signin-button img {
  width: 25px;
  height: 25px;
}

div.login-actions {
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  max-width: clamp(280px, 90vw, 480px);;
}

  .lined-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
  }

  .lined-text::before,
  .lined-text::after {
    content: "";
    flex: 1 1 0;
    height: 1px;
    background: #000000;
    display: block;
    align-self: center;
  }

  div.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
  }
