<div class="create-container">
    <h1>Create Course</h1>
    <div class="create-inputs">
      <form class="create-form" (submit)="onSubmit($event)">
        <div class="form-group">
          <h2>Course Information:</h2>
          <input
            type="text"
            id="courseName"
            name="courseName"
            [(ngModel)]="courseName"
            placeholder="Course Name (e.g., Math 101)"
            required
          />
        </div>
  
        <div class="button-group">
          <button id="create-button" type="submit">Create Course</button>
          <button 
            id="cancel-button" 
            type="button" 
            (click)="onCancel()"
            class="secondary-button"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>