/* Header component styles */
:host {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  padding: 0rem 1rem;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

/* navigation links */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

ul li a {
  text-decoration: none;
  color: var(--header-text-color);
  transition: color 0.3s ease-in-out;
}

ul li a:hover {
  color: var(--hover-color);
}

/* header logo */
.header-logo {
  font-size: 2em;
  font-weight: bold;
  color: var(--header-text-color);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  max-width: 100%;
}

header h1 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  color: var(--header-text-color);
}

header p {
  font-size: 1.2em;
  color: var(--header-text-color);
}